<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DN CLONE</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/angular/angular.min.js" charset="utf-8"></script>
  <script src='/js/main.js'></script>
</head>
<body ng-app='myApp'>
  <h2>DN CLONE</h2>
  <div class="container">
    <h2>Hi there</h2>
  </div>
</body>
</html>
